// custom variables for the green theme
// NOTE: The demo themes have not been designed to meet
// contrast ratio requirements and therefore may not be accessible.


$themeName:  green;

// UNIVERSAL
//----------------------------------

// Universal Font & Text Styling
//----------------------------------

// links
$linkTextColor:            #418F05;


// Universal Interaction State Colors
//----------------------------------
$interaction1Color: #07ac02;
$interaction3Color: #e4ecda;
$interaction4Color: darken($interaction3Color, 5%);
$interaction6Color: #e0f1e6;


// Icon Colors
//----------------------------------
$iconColorHover:    adjust-color($interaction1Color, $lightness: 10%, $saturation: -10%);


// Universal Background and Border Styling
//----------------------------------



// drag and drop
//----------------------------------
$dropTarget1Color: #dbfae4;






// PROGRESS
//----------------------------------------------------------------
// the indeterminate overlay for the progress bar in the android
// theme is blue, so set $progressBarIndeterminateOverlayOpacity
// to .3 so the green shows through.

$progressBarIndeterminateOverlayOpacity: .3;
$progressBarIndeterminateOverlayImage:                "../../common/android/images/animated-overlay.gif";

$progressCircleIndeterminateOverlayImage:             "../../common/web/images/spinner_full.gif";


// RADIOSET and CHECKBOXSET
//----------------------------------------------------------------
// the default radio and checkbox images are blue,
// replace them with images that are green
$radioCheckboxImageDir:  "images/";

// directories
//----------------------------------
$imageDir:               "../../../css/alta/4.2.0/android/images/";
$commonImageDir:         "../../../css/alta/4.2.0/common/images/";
$fontDir:                "../../../css/alta/4.2.0/android/fonts/";
