// custom variables for the san francisco theme
// The "san francisco" theme uses the colors of a certain san francisco based sports team.
//
// In addition to changing colors various non-color customizations are made. For example here are a few changes:
//  - font - change the font family, reduce the root font size, and use px not rem for the font size variables
//  - form controls - look more like the android theme
//  - buttons - various customizations to size and shape
//  - tabs - customize tabs to be rounded instead of square
//  - train - individual rather than continuous connector
//  - navlist - for vertical navlist make the bgcolor strong
//
// NOTE: The demo themes have not been designed to meet
// contrast ratio requirements and therefore may not accessible.


$themeName:  sanfranciso;

// UNIVERSAL
//----------------------------------

// Universal Font & Text Styling
//----------------------------------

//font size - shows using px instead of em/rem works
$rootFontSize:    13px;
$fontSize:        $rootFontSize;
$smallFontSize:   $rootFontSize - 1px;
$mediumFontSize:  $rootFontSize + 2px;
$largeFontSize:   $rootFontSize + 4px;
$largestFontSize: $rootFontSize + 6px;

$fontFamily:  Helvetica, Arial, sans-serif;



// Universal Background and Border Styling
//----------------------------------
$contrastBackground1Color: #000000; //black
$interaction1Color: #F2552C; // bright orange
$interaction3Color: #ffefeb; // lightest orange
$interaction4Color: #ffcabd; // light orange
$interaction6Color: #f5eadb; // light orange
$iconColorHover:    #f69279; // medium orange
$linkTextColor:     #8b2309; // darkest orange


// same color as alta web, but referred to below so have to be set here
$border3Color:       #c4ced7;
$border4Color:       #dfe4e7;
$contrastTextColor:  #ffffff;
$textColor:          #333333;


// radius
// show a more rounded look
// and up the border radius variables
$largeBorderRadius: 9px;
$mediumBorderRadius: 7px;
$smallBorderRadius:  4px;


// BODY
//----------------------------------------------------------------
$bodyBgImage: none;


// BUTTONS
//----------------------------------------------------------------

$buttonBorderRadius: 1px;

// make the button bigger and a flat color
$buttonHeight:       2.5rem;
$buttonBgImage:      none;

// chroming option defaulting
$buttonChromingOptionDefault: outlined;
$buttonsetChromingOptionDefault: outlined;


// Horiz space between text and edge of button when no intervening icon.
$buttonTextToEdgePadding:       1rem;
$buttonLargeTextToEdgePadding:  1.75rem;

// Horiz space between text and icon.
$buttonIconToTextPadding:       .65rem;

// Horiz space between icon and edge of button when text also showing.
$buttonIconToEdgePadding:       1rem;
$buttonLargeIconToEdgePadding:  1.3rem;

// Horiz space between icon and edge of button when icon only.
$buttonIconOnlyPadding:       0.7rem;
$buttonSmallIconOnlyPadding:  0.5rem;
$buttonLargeIconOnlyPadding:  1rem;
$buttonXlargeIconOnlyPadding: 1.3rem;

// full chrome default state
$buttonBgColor:   #EDE6DB;


// FORMS
//----------------------------------------------------------------

// make form controls look more like they do on android
$formLayoutLabelInlineAlign: start;

// controls the horizontal padding inside an input
$formControlPaddingHorizontal: 10px;

$formControlLargeMaxWidth:  100%;
$formControlMediumMaxWidth: 100%;


// These variables are used to set the column-width/column-gap properties
// in .oj-form-cols and .oj-form-cols-labels-inline.
// These classes use css multi column layout, see:
// http://dev.w3.org/csswg/css-multicol/
$formLayoutColumnGap:               30px;
$formLayoutLabelsInlineColumnGap:   40px;


// make the form controls transparent and
// only have bottom border
$formControlBorderRadius:    0;
$formControlBorderWidth: 0 0 1px;
$formControlBgColor:         transparent;
$formControlInputBorderColorFocus:  $interaction1Color;

// disabled
$formControlBgColorDisabled: transparent;
$formControlBorderColorDisabled: $border4Color;
$formControlValueColorDisabled: $textColor;
$formControlOpacityDisabled:     .7;



// INPUT NUMBER
//----------------------------------------------------------------
// the spacing between the input and the buttonset
$inputNumberInputToButtonMargin: 16px;

// PROGRESS
//-----------------------------------------------------------------------------
$progressCircleIndeterminateOverlayImage:             "../../common/web/images/spinner_full.gif";

// RADIOSET and CHECKBOXSET
//----------------------------------------------------------------
// we need one test of the html input and the sf theme is good for this.
$radioCheckboxRenderInputAs: 'html' !default;

// the default radio and checkbox are native browser inputs.
// If we decide to use images, this is where they would be.
$radioCheckboxImageDir:  "images/";
$radioCheckboxRowHeight: 2.9rem !default;
// don't put any space between the edge
// and the input and label since we don't have borders
$radioCheckboxInputToEdgePadding: 0 !default;
$radioCheckboxInputToLabelPadding: .74rem !default;
$radioCheckboxLabelToEdgePadding: 0 !default;


// TRAIN
//----------------------------------------------------------------
// let labels wrap
$trainLabelTextWrap:    nowrap;

// connector variables
// step connector type. Valid values are 'individual' or 'continuous. A 'continuous'
// connector is a single shape behind all of the step buttons while the 'individual'
// connector renders seperate shapes between each step.
$trainConnectorType:    individual;
$trainConnectorHeight:  1px;
$trainConnectorBgColor: $border3Color;

//the diameter of the "button" representing a stop
$trainButtonDiameter:  18px;


// TREEVIEW
//-----------------------------------------------------------------------------
$treeViewItemBgColorHover:            $interaction3Color;

// NavigationList
//----------------------------------------------------------------
// For vertical navlist make the bgcolor strong

$navigationListItemLabelColorSelected:              $contrastTextColor;
$navigationListItemIconColorSelected:               $navigationListItemLabelColorSelected;
$navigationListItemBgColorSelected:                 $interaction1Color; // only applies to vertical navlist

$navigationListItemBorderWidth:                     0;
$navigationListIconOnlyItemBorderWidth:             0;

$navigationListHorizontalItemBorderWidth:           0 0 3px 0;
$navigationListHorizontalItemLabelColorSelected:    $interaction1Color ;
$navigationListHorizontalItemIconColorSelected:     $interaction1Color ;



// NavigationTabs
//--------------------------------------------------------------------
$tabBarHorizontalItemBorderColor:             transparent transparent  #d6dfe6 transparent !default;
$tabBarHorizontalItemBorderWidth:             3px 1px 1px 1px !default;//horizontal
$tabBarHorizontalItemBorderColorSelected:     $interaction1Color #d6dfe6 transparent #d6dfe6 !default;
$tabBarHorizontalItemBorderColorHover:        $tabBarHorizontalItemBorderColor !default;
$tabBarItemBorderWidth:                       0;
$tabBarIconOnlyItemBorderWidth:               0;

$tabBarItemLabelColorSelected:                $navigationListItemLabelColorSelected;
$tabBarItemIconColorSelected:                 $navigationListItemIconColorSelected;
$tabBarHorizontalItemLabelColorSelected:      $interaction1Color;
$tabBarHorizontalItemIconColorSelected:       $interaction1Color;
$tabBarItemBgColorSelected:                   $interaction1Color; // only applies to vertical navlist

// Image urls
//----------------------------------------------------------------
$imageDir:               "../../../css/alta/4.2.0/web/images/";
$commonImageDir:         "../../../css/alta/4.2.0/common/images/";
$fontDir:                "../../../css/alta/4.2.0/web/fonts/";

//Avatar
//-------------------------------------------------------------------
//Don't want a ring on avatar in this theme
$avatarXxsBorderOffset:       0 !default;
$avatarXsBorderOffset:        0 !default;
$avatarSmBorderOffset:        0 !default;
$avatarMdBorderOffset:        0 !default;
$avatarLgBorderOffset:        0 !default;
$avatarXlBorderOffset:        0 !default;
$avatarXxlBorderOffset:       0 !default;
$avatarXxsBorderWidth:        0 !default;
$avatarXlBorderWidth:         0 !default;
