
$themeName:  mytheme;
$imageDir:               "../../../css/alta/4.2.0/windows/images/";
$commonImageDir:         "../../../css/alta/4.2.0/common/images/";
$fontDir:                "../../../css/alta/4.2.0/windows/fonts/";