@font-face {
  font-family: 'AppFont';
  src: url("fonts/App_iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


.demo-icon-font, .demo-icon-font-24 {
  font-family: AppFont;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  font-weight: normal;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.demo-icon-font:before, .demo-icon-font-24:before {
  display: inline-block;
}

.demo-icon-font-24 {
  font-size: 24px;
}

/* Icons with a suffix "-16" were designed to look best at 16px. */
.demo-bookmark-icon-16:before {
  content: "\e606";
}

.demo-grid-icon-16:before {
  content: "\e607";
}

.demo-list-icon-16:before {
  content: "\e608";
}

.demo-gear-icon-16:before {
  content: "\e609";
}

/* Icons with a suffix "-24" were designed to look best at 24px. */
.demo-home-icon-24:before {
  content: "\e600";
}

.demo-education-icon-24:before {
  content: "\e601";
}

.demo-catalog-icon-24:before {
  content: "\e602";
}

.demo-palette-icon-24:before {
  content: "\e603";
}

.demo-library-icon-24:before {
  content: "\e604";
}

.demo-chat-icon-24:before {
  content: "\e605";
}

.demo-oracle-icon {
  width: 137px;
  height: 18px;
}
.demo-oracle-icon:before {
  content: url("images/oracle_logo.svg");
  display: inline;
}
/* Adds padding between logo and application name */
html:not([dir="rtl"]) .demo-oracle-icon {
  padding-right: 4px;
}
html[dir="rtl"] .demo-oracle-icon {
  padding-left: 4px;
}



@font-face {
  font-family: 'platforms';
  src: url('samples/site/images/formfactor/platform.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




[class^="demo-platform-icon-"], [class*=" demo-platform-icon-"] {
  font-family: 'platforms';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 24px;
  height: 24px;
  font-size: 24px;
}


/* custom themes */
.demo-platform-icon-blocked:before {
    content: "\e905";
}
.demo-platform-icon-projector:before {
    content: "\e900";
}
.demo-platform-icon-wrench:before {
    content: "\e901";
}
.demo-platform-icon-leaf:before {
    content: "\e902";
}
.demo-platform-icon-cloud:before {
    content: "\e906";
}
.demo-platform-icon-sf:before {
    content: "\e907";
}


/* platform themes */
.demo-platform-icon-web:before {
    content: "\e9c9";
}
.demo-platform-icon-ios:before {
    content: "\eabf";
}
.demo-platform-icon-android:before {
    content: "\eac1";
}
.demo-platform-icon-windows:before {
    content: "\eac3";
}



.site-color-null:after {
    content: 'N/A';
}

.site-hex-null:after {
    content: 'null';
}

html .demo-button-pulse.oj-button.oj-component {
  box-shadow: 0 0 0 0 rgba(0, 130, 48, 0.5);
  -webkit-animation: pulse 2s 4 cubic-bezier(0.7, 0, 0.5, 1);
  -moz-animation: pulse 2s 4 cubic-bezier(0.7, 0, 0.5, 1);
  -ms-animation: pulse 2s 4 cubic-bezier(0.7, 0, 0.5, 1);
  animation: pulse 2s 4 cubic-bezier(0.7, 0, 0.5, 1); }

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(0, 130, 48, 0); } }

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(0, 130, 48, 0); } }

@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(0, 130, 48, 0); } }

@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(0, 130, 48, 0); } }




.demo-buttonset-tall .oj-button {
  min-height: 42px;
}

.demo-themeroller {
    overflow: hidden;
    width: 330px;
    min-width: 330px;
    -webkit-flex-grow: 0;
    flex-grow: 0;
}

.demo-components-wrap {
    overflow: hidden;
}

.demo-themeroller table
{
    border-collapse:collapse;
    table-layout: fixed;
    font-family: Consolas, Menlo, Monaco, 'Source Code Pro', 'Courier New', Courier, monospace;
}


.demo-themeroller tr,
.demo-themeroller th,
.demo-themeroller td
{
  border-color: #c4ced7;
  border-style: solid;
}


.demo-themeroller th,
.demo-themeroller td
{
    border-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 3px;
}

.demo-themeroller tr,
.demo-themeroller td:first-child {
   border-width: 1px
}


.demo-var-color {
    width: 30px;
}

.demo-var-hex {
    width: 4.5em;
}

.demo-contrast-box {
  font-size: 12px;
  font-family: monospace;
  display:inline-block;
  width:380px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.demo-circle-icon-font {
  font-family: 'Alta Icon Font';
  line-height:1;
  display:inline-block;
}
